* {padding: 0; margin: 0;}

body {
    background: black;
    color: white;
    font-family: 'Input Mono', monospace;
    font-size: 16px;
    line-height: 1.6em;
    overflow: hidden;
}

#main {
    position: absolute;
}

#msec, #secs, #mins, #hour {
    display: inline-block;
    position: absolute;

    background-color: black;
    padding: 4px 8px;
}

#msec {
    top: 40px;
    right: 40px;
}

#secs {
    bottom: 40px;
    right: 40px;

    display: none;
}

#mins {
    bottom: 40px;
    left: 40px;

    display: none;
}

#hour {
    top: 40px;
    left: 40px;

    display: none;
}
