html {
    /* background-color: blue; */
    background-color: #97d07b;
    box-sizing: border-box;
    /* color: rgba(0, 255, 0, 1); */
    color: #020d12;
    font-family: ocr-a-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-transform: uppercase;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

canvas {
    position: absolute;
    z-index: 1
}

#view-terminal {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 16px;
    bottom: 16px;
    right: 16px;
    /* z-index: 10; don't want to use because I like the noise over the text look */
}

    #view-terminal > p {
        flex: auto;
    }

    .alt-01 {
        color: blue;
        left: 50px;
        bottom: 20px;
        transform: scale(1.2);
    }
    .alt-02 {
        color: #945189;
        left: 80px;
        bottom: 40px;
    }

#text-entry {
    order: 1;
}

#text-entry::after {
    content: "█";
    animation: blinking 1s infinite;
}

.colour-red {
    color: red;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

}
