body {
    background: #302C2B;
    color: rgba(225, 224, 232, 1);
    margin: 0;
    overflow: hidden;
    text-align: center;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
